
.root2 {
    -fx-background-color: white;
}

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #1f1e1e;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}


#welcome-text {
    -fx-font-size: 20px;
    -fx-font-family: "Lato";
    -fx-fill: #d251a2;
    -fx-effect: innershadow( three-pass-box , rgb(227, 21, 208), 6, 0.0 , 0 , 2 );
}

actiontarget {
    -fx-fill: FIREBRICK;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.button {
    -fx-background-color:
            linear-gradient(#0a2920, #0a3225),
            radial-gradient(center 50% -40%, radius 200%, #d251a2 45%, #d251a2 50%);
    -fx-background-radius: 6, 5;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #f9fafa;
}

.button:hover {
    -fx-opacity: linear-gradient(#196657, #218a69);
}
